body{
    background-color: rgb(202, 167, 211);
} 

hl{
    color: black;
    text-align: center;
    font-size: 30px;
}
p{
    color: black;
    text-align: center;
    font-size: 25px;
}

#imagem1{
    width: 90%;
    height: 15%;
    border: 2px solid black

}
.itens{
    font-size: italic;
    font-size: 50px;
    text-align: left;
}

#imagem2{
    width: 50%;
}